# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store

# Env files
*.env

# Spring Boot
application-dev.yml
application-prod.yml
