server:
  port: 4001

spring:
  application:
    name: api-gateway
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  config:
    import: optional:file:.env[.properties]
  data:
    redis:
          host: ${REDIS_HOST:localhost}
          port: ${REDIS_PORT:6379}
          timeout: 2000ms
          connect-timeout: 1000ms

# Default JWT Configuration
app:
  jwt:
    secret: ${JWT_SECRET:}

# Eureka Configuration
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:4000/eureka/}
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10

# Resilience4j Circuit Breaker Defaults
resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        wait-duration-in-open-state: 5s
        failure-rate-threshold: 50
    instances:
      authService:
        base-config: default
      timetableService:
        base-config: default
      userService:
        base-config: default

# Default Redis Configuration

# Default Management Endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized
      show-components: when-authorized

# Default Logging
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"